body{
 text-align:center;   
margin:0;
padding-bottom:150px;
}
.coolimage{
border-radius:50%;
}
#welcome {
background:linear-gradient(rgb(9, 255, 9), rgb(255, 5, 5) ) ;
bottom:0;
display:table;
width:100%;
height:100%;
}
h1{
font-size:20px;
font-family:sans-serif;
font-weight:300;
}
#coolspan{
font-size:50px;
font-family:cursive;
}
h2{
 font-family:monospace;
 font-size:30px;
 font-weight:300;   
}
#bio{
 font-family:cursive;
 padding:50px;   
}
.line{
 height:6px;
 background-color: black; 
 width:83px;
 margin:8px auto;  
}
.welcomediv{
    display:table-cell;
    vertical-align:middle;
}
.menu{
 list-style:none;
 position:fixed;
 top:10px;
 right:30px;
 z-index:10;
 cursor: pointer;
 background:linear-gradient(blue white );
 width:100%;   
}

.links{
 padding-left:30px;
 padding-right:25px;
 font-family: 'IBM Plex Mono', monospace;
 font-size:20px;
display:inline;
}

a{
 text-decoration:none;
 text-decoration:underline !important;  
}
#writing a{
text-decoration:underline !important;
color:chartreuse;
}
.contactlist{
    display:inline;

}
#contacts{
    background-color:rgb(255, 0, 0);
    
}

